@import "tailwindcss";

@theme {
  --color-background : #845ec2;
  --color-frontground :#ff6f91;
  --color-font : #f9f871; 
}

@layer {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--color-background);
    color: var(--color-font);
    font-family: 'Inter', sans-serif;
  }

  .logo {
    font-family: "Playfair Display", serif;
  }
}