@import "tailwindcss";

@theme {
  --color-background : #4b4453;
  --color-frontground :#ff6f91;

  --color-primary: #f9f871;
  --color-secondary: #ff9671;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--color-background);
    color: var(--color-secondary);
    font-family: 'Inter', sans-serif;
  }
}

@layer components {
  .glass {
    background-color: var(--color-primary);
    backdrop-filter: blur(16px);
  }

  .glass-strong {
    background-color: #37323d!important;
    backdrop-filter: blur(16px);
    border: 1px solid whitesmoke;
  }
}