@import "tailwindcss";

@theme {
  --color-background : #4b4453;
  --color-frontground :#ff6f91;

  --color-primary: #f9f871;
  --color-secondary: #ff7371;
}

@keyframes fade-in {
  from
  {
    opacity: 0;
  }
  to
  {
    opacity: 1;
  }
  
}
@keyframes fade-out {
  from
  {
    opacity: 1;
  }
  to
  {
    opacity: 0;
  }
  
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--color-background);
    color: var(--color-secondary);
    font-family: 'Inter', sans-serif;
  }
}

@layer components {
  .glass {
    background-color: var(--color-primary);
    backdrop-filter: blur(16px);
  }

  .glass-strong {
    background-color: #37323d!important;
    backdrop-filter: blur(16px);
    border: 1px solid whitesmoke;
  }

  .glow-text {
    text-shadow: 0 0 30px color-mix(in srgb, var(--color-frontground) 50%, transparent);
  }
}

@layer utilities {
  .animate-fade-in {
    opacity: 0;
    animation: fade-in 0.4s ease-out forwards;
  }

  .animate-fade-out {
    opacity: 1;
    animation: fade-out 0.4s ease-out forwards;
  }

  .animation-delay-100 {
    animation-delay: 0.1s;
  }
  .animation-delay-200 {
    animation-delay: 0.2s;
  }
  .animation-delay-300 {
    animation-delay: 0.3s;
  }
  .animation-delay-400 {
    animation-delay: 0.4s;
  }
}